extends layout

block content

  h1.py-2= pageName
  h2.text-center.text-warning Découverte de NodeJS

  .col-md-6.py-5
    .card
      .card-header.text-center.text-uppercase Information sur le projet
      .card-body
        p 
        | Ce projet me permet d'apprendre la technologie NodeJs. Il aura été    construit à partir de rien.<br />
        | J'utilise quelques dépendances qui me permette de donner vie à ce projet.
      .card-body
        p Ici le principe est simple, reproduire le principe de Twitter.
    
    .card.mt-3
      .card-body.text-primary
        | Je remercie la plateforme E-Learning DYMA.FR. (Erwan et Quentin sont au top)
        | Je remercie également Olivier, Alex32 et Momo sur qui je peux compter quand ça ne va pas. Merci à tous.